<div class="center hero-unit">	
	<h1>Twitter Newspaper</h1>

	<h3>
	This is the home page for the
	<a href="https://github.com/sigibart/TwitterNewspaper"> ROR Classes </a> application.
	</h3>

		
</div>




<p>Current date: <%= Time.now %></p>

